body {
    background-image: url("background-img.jpg");
    background-repeat: no-repeat;
    /* background-size: 100% 110%; */
    background-size: auto auto;
    overflow: hidden;
    background-size: cover;

}

.tournament-selection {
    margin-top: 70px;
    align-items: center;
    text-align: center;
}
.tour-btn {
    background-color:  black; 
    color: white;
    font-size: 40px;
    padding: 0 30px;
    border: 5px solid rgb(216, 202, 0);
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 20%;
    cursor: pointer;
    font-family: 'Permanent Marker', cursive;
}
.tour-btn:hover {
    background-color: white; 
    color: black;
    border: 5px solid black;
}

.tour3-btnM1,.tour5-btnM1 {
    background-color: rgb(13, 204, 13); 
    color: black;
    border: 5px solid black;
    font-family: 'Permanent Marker', cursive;
    font-size: 20px; 
    border-radius: 100%; 
    padding: 10px 50px; 
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.tour3-btnM2,.tour3-btnM3,.tour5-btnM2,.tour5-btnM3 {
    background-color: #685d5d; 
    color: black;
    border: 5px solid black;
    font-family: 'Permanent Marker', cursive;
    font-size: 20px; 
    border-radius: 100%; 
    padding: 10px 50px; 
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}
/* .tour3-btnM1:hover {
    background-color: rgb(0, 0, 0); 
    color: rgb(255, 255, 255);
    border: 5px solid black;
}
.tour3-btnM2:hover {
    background-color: rgb(0, 0, 0); 
    color: rgb(255, 255, 255);
    border: 5px solid black;
} */

.tour3-matchContainers,.tour5-matchContainers {
    align-items: center;
    text-align: center;
    background-color: #685d5d;
    border-radius: 10%;
    padding: 10px 0;
    overflow: visible;
    width: fit-content;
    margin-left: 40%;
    
}

.main-container {
    display: none;
}

/* hands for toss */
#fist-T1,#tour3M1fist-T1,#tour3M2fist-T1,#tour3M3fist-T1,#tour5M1fist-T1,#tour5M2fist-T1,#tour5M3fist-T1,#tour5M4fist-T1,#tour5M5fist-T1 {
    transform: rotate(180deg);
    height: 300px;
    width: 250px;
    margin-left: 40%;
    

}

#fist-T2,#tour3M1fist-T2,#tour3M2fist-T2,#tour3M3fist-T2,#tour5M1fist-T2,#tour5M2fist-T2,#tour5M3fist-T2,#tour5M4fist-T2,#tour5M5fist-T2 {
    height: 300px;
    width: 250px;
    align-items: center;
    margin-left: 500px;
}
/* --x--x--x--x--x--x-- */

#fist-1,#tour3M1fist-1,#tour3M2fist-1,#tour3M3fist-1,#tour5M1fist-1,#tour5M2fist-1,#tour5M3fist-1,#tour5M4fist-1,#tour5M5fist-1 {
    transform: rotate(180deg);
    height: 300px;
    width: 250px;
    margin-left: 18%;
    

}

#fist-2,#tour3M1fist-2,#tour3M2fist-2,#tour3M3fist-2,#tour5M1fist-2,#tour5M2fist-2,#tour5M3fist-2,#tour5M4fist-2,#tour5M5fist-2 {
    height: 300px;
    width: 250px;
    align-items: center;
    margin-left: 15%;
}


.num-keysA  {
    transform: rotate(180deg);
    margin: 0% 42%;  
    /* 23% */
    display: none;
}

.num-keysAT {
    transform: rotate(180deg);
    margin: 0% 42%;  
    /* 23% */
    display: none;
}

.num-keysB {
    margin-left: 20%;
    display: none;
}

#selectionByUser,#tour3M1selectionByUser,#tour3M2selectionByUser,#tour3M3selectionByUser,
#tour5M1selectionByUser,#tour5M2selectionByUser,#tour5M3selectionByUser,#tour5M4selectionByUser,#tour5M5selectionByUser{
    background-color: #fff;
    width: fit-content;
    padding: 1px 20px;
    margin-left: 42%;
    margin-top: 18%;
    border: 5px solid;
}

#selectionByComp,#tour3M1selectionByComp,#tour3M2selectionByComp,#tour3M3selectionByComp,
#tour5M1selectionByComp,#tour5M2selectionByComp,#tour5M3selectionByComp,#tour5M4selectionByComp,#tour5M5selectionByComp{
    background-color: #fff;
    width: fit-content;
    padding: 1px 20px;
    margin-left: 38%;
    margin-top: 18%;
    border: 5px solid; 
}

#halfCenturyUser{
    background-color: #fff;
    width: fit-content;
    padding: 1px 20px;
    margin-left: 38%;
    margin-top: -25%;
    border: 5px solid; 
}

#targetChaseUser,#tour3M1targetChaseUser,#tour3M2targetChaseUser,#tour3M3targetChaseUser,
#tour5M1targetChaseUser,#tour5M2targetChaseUser,#tour5M3targetChaseUser,#tour5M4targetChaseUser,#tour5M5targetChaseUser{
    background-color: #fff;
    width: fit-content;
    padding: 1px 20px;
    margin-left: 38%;
    margin-top: -29%;
    border: 5px solid; 
}

#targetChaseComp,#tour3M1targetChaseComp,#tour3M2targetChaseComp,#tour3M3targetChaseComp,
#tour5M1targetChaseComp,#tour5M2targetChaseComp,#tour5M3targetChaseComp,#tour5M4targetChaseComp,#tour5M5targetChaseComp{
    background-color: #fff;
    width: fit-content;
    padding: 1px 20px;
    margin-left: 38%;
    margin-top: -29%;
    border: 5px solid; 
}

#targetComp,#tour3M1targetComp,#tour3M2targetComp,#tour3M3targetComp,
#tour5M1targetComp,#tour5M2targetComp,#tour5M3targetComp,#tour5M4targetComp,#tour5M5targetComp {
    font-size: 17px;
    color: white;
    background-color: black;
    padding: 5px 5px;
    cursor: pointer;
    margin-left: 28%;
}

#targetUser,#tour3M1targetUser,#tour3M2targetUser,#tour3M3targetUser,
#tour5M1targetUser,#tour5M2targetUser,#tour5M3targetUser,#tour5M4targetUser,#tour5M5targetUser {
    font-size: 17px;
    color: white;
    background-color: black;
    padding: 5px 5px;
    cursor: pointer;
    margin-left: 23%;
}

#tie,#bowlFirstWinUser,#batFirstWinUser,#bowlFirstWinComp,#batFirstWinComp,
#tour3M1tie,#tour3M1bowlFirstWinUser,#tour3M1batFirstWinUser,#tour3M1bowlFirstWinComp,#tour3M1batFirstWinComp,
#tour3M2tie,#tour3M2bowlFirstWinUser,#tour3M2batFirstWinUser,#tour3M2bowlFirstWinComp,#tour3M2batFirstWinComp,
#tour3M3tie,#tour3M3bowlFirstWinUser,#tour3M3batFirstWinUser,#tour3M3bowlFirstWinComp,#tour3M3batFirstWinComp,
#tour5M1tie,#tour5M1bowlFirstWinUser,#tour5M1batFirstWinUser,#tour5M1bowlFirstWinComp,#tour5M1batFirstWinComp,
#tour5M2tie,#tour5M2bowlFirstWinUser,#tour5M2batFirstWinUser,#tour5M2bowlFirstWinComp,#tour5M2batFirstWinComp,
#tour5M3tie,#tour5M3bowlFirstWinUser,#tour5M3batFirstWinUser,#tour5M3bowlFirstWinComp,#tour5M3batFirstWinComp,
#tour5M4tie,#tour5M4bowlFirstWinUser,#tour5M4batFirstWinUser,#tour5M4bowlFirstWinComp,#tour5M4batFirstWinComp,
#tour5M5tie,#tour5M5bowlFirstWinUser,#tour5M5batFirstWinUser,#tour5M5bowlFirstWinComp,#tour5M5batFirstWinComp{
    background-color: #fff;
    width: fit-content;
    padding: 1px 20px;
    margin-left: 40%;
    margin-top: -25%;
    border: 5px solid; 
}
#tour3return,#tour3return1,#tour5M3return,#tour5M4return,#tour5M5return{
    background-color: #fff;
    width: fit-content;
    padding: 1px 20px;
    margin-left: 40%;
    margin-top: -16%;
    border: 5px solid;
}
.run50-btn {
    font-size: 17px;
    color: white;
    background-color: black;
    padding: 5px 5px;
    cursor: pointer;
    margin-left: 0%;
    margin-top: -25%;
    border: 5px solid; 
}

.startGame {
    background-color: black;
    color: white;
    border: 5px solid rgb(216, 202, 0);
    font-family: 'Permanent Marker', cursive;

    margin: 15% 38%; 
    font-size: 50px; 
    border-radius: 100%; 
    padding: 10px 50px; 
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.startGame:hover {
    border: 5px solid black;
    background-color: white; 
    color: black; 
    box-shadow: 0px 0px 10px 10px rgb(179, 174, 174);  
}

.toss-btn,.match-btn {
    font-size: 40px;
    padding: 0 5px;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 1px solid black;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.toss-btn:hover,.match-btn:hover {
    background-color: black;
    color: white;
    border: 1px solid white;
}

.odd {
    margin: 0% 46%; 
    font-size: 40px; 
    border-radius: 20%; 
    cursor: pointer; 
    font-family: 'Permanent Marker', cursive;
    background-color: black; 
    color: white;
    border: 5px solid rgb(216, 202, 0);

    transition: background-color 0.3s ease, color 0.3s ease;
}
.eve {
    background-color:  black; 
    color: white;
    border: 5px solid rgb(216, 202, 0);
    transition: background-color 0.3s ease, color 0.3s ease;
}
.odd:hover {
    background-color: white; 
    color: black; 
    border: 5px solid black;
}
.eve:hover {
    background-color: white; 
    color: black;
    border: 5px solid black;
}

.reload-btn {
    background-color: black; 
    color: white; 
    font-size: 17px; 
    padding: 5px 5px; 
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;

}
.reload-btn:hover {
    background-color: rgb(189, 184, 184); 
    color: black; 
    font-weight: bold;
}
.optTo {
    font-size: 17px;
    color: white;
    background-color: black;
    padding: 5px 5px;
    cursor: pointer;
}
 .optTo:hover {
    color: black;
    background-color: rgb(189, 184, 184); 
    font-weight: bold;

}
